
h1.title {
  font-weight: 400;
  font-size: 42px;
}

h1 {
  font-size: 34px;
  font-weight: 400;
}

h2 {
  font-size: 30px;
  font-weight: 400;
}

h3 {
  font-size: 26px;
  font-weight: 400;
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  background-color: #3fae29;
}

.btn-default {
  background-color: #ddd;
  border-color: #aaaaaa;
}

p.caption {
  font-size: 1.1em;
  font-style: italic;
  color: grey;
  margin-right: 10%;
  margin-left: 10%;
  text-align: justify;
}

body {
  font-family: Helvetica;
  font-size: 12pt;
}

